.back{
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    color: white;
    background: #6b6a6a;
}
   
   .back > svg {
    margin-right: 5px;
    margin-left: 5px;

    transition: all 0.4s ease-in;
   }

   .back span{
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
   
   .back:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }