.tooltip-container {
    --background: #4132c9;
    --support-size: 50px;
    --tooltip-radius: 10px 10px 10px 0;
    --outline-border-color: #0096aa;
    position: relative;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    font-weight: bold;
    padding: 0.7em 1.2em;
    color: var(--background);
    border: solid 2px var(--background);
    margin-top: 80px;
  }
  
  .tooltip-container::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.5s linear;
    outline: 3px solid transparent;
    background: var(--background);
  }
  .tooltip-container:hover {
    color: white;
  }
  .tooltip-container:hover:before {
    width: 100%;
    height: 100%;
    border-radius: 0;
    outline-offset: 5px;
    outline-color: var(--outline-border-color);
  }
  .tooltip {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 50%;
    transform: translateX(-5%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    background: var(--background);
    border-radius: var(--tooltip-radius);
    color: white;
    box-shadow: 3px 3px 0px var(--outline-border-color);
  }
  
  .tooltip::after {
    content: "Hello!👋";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    text-align: center;
    border-radius: var(--tooltip-radius);
  }
  .tooltip::before {
    position: absolute;
    content: "";
    bottom: 0;
    border-style: solid;
    border-width: 10px;
    left: 0;
    transform: translateX(-50%);
    border-color: transparent var(--background) var(--background) transparent;
    box-shadow: 0px 3px 0px var(--outline-border-color);
  }
  
  .tooltip-container:hover .tooltip::after {
    animation: hidden 0.5s 1.5s linear forwards;
  }
  
  .tooltip-container:hover .tooltip {
    top: calc(-100% - var(--support-size) * 0.5);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    animation: shake 0.5s 1s linear;
    transition: all 0.3s 0.5s;
  }
  

  .support{
    width: 400px;
  }

.image-section{
  margin: 30px;
  display: flex;
  justify-content: space-evenly;

}

.img-box{

  display: flex;
  flex-direction: column;
  text-align: center;
}

.img-box h4{
  font-size: 20px;
  font-weight: 500;
}

.ticket-section{
  width: 100%;
  margin: 3rem;
}

.ticket-section h1{
  font-size: xx-large;
  color: #4132c9;
  font-weight: 500;
  padding-bottom: 20px;
}

.card p {
  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  color: black;
}

.card p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #4132c9;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #a39aef;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card2:hover:before {
  transform: scale(2.15);
}



.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(226, 25%, 69%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(248, 39%, 39%) 0%,
    hsl(248, 39%, 49%) 8%,
    hsl(248, 39%, 39%) 92%,
    hsl(248, 39%, 29%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(248, 53%, 58%);
  padding: 16px 32px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}


  @keyframes hidden {
    50% {
      transform: translate(-50%, -50%) scale(0.5);
      background-color: #1ca0f5;
    }
    100% {
      transform: translate(0, -50%) scale(0.5);
      opacity: 0;
    }
  }
  
  @keyframes shake {
    0%,
    40%,
    80% {
      transform: translateX(-10%);
    }
    20%,
    60%,
    100% {
      transform: translateX(0);
    }
  }
  
  .st2 {
    fill: #f9c8a7;
  }
  .st3 {
    fill: #ff9e97;
  }
  .st6 {
    fill: #d72e48;
  }
  .st7 {
    fill: #ffffff;
  }
  .st8 {
    fill: #ff8d7f;
  }
  .st10 {
    fill: #3d3d3b;
  }
  .st11 {
    fill: #1ca0f5;
  }
  .st12 {
    opacity: 0.2;
  }
  .st14 {
    fill: #b7b7b7;
  }
  .st15 {
    fill: #ead9cf;
  }
  #Calque_1 {
    display: inline-block;
    height: var(--support-size);
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    z-index: -1;
    left: 0;
    top: 0;
  }
  #left_x5F_arm_2_ {
    transform: translateX(2px);
  }
  
  .tooltip-container:hover #Calque_1 {
    top: calc(var(--support-size) * -1);
    opacity: 1;
  }
  